/* .footer {
  margin-top: 2rem;
  height: 7.2vh;
  border: none !important;
  border: 1px solid rgba(255, 255, 255, 0);
} */

.navItems {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.navItem {
  /* display: inline-block; */
  margin-right: 1rem;
}
